@use "../abstracts/colors" as colors;
@use "../abstracts/mixins" as mixins;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  color: colors.$text-color;
}

body {
  background-color: colors.$bgcolor;
  min-height: 100vh;
  @include mixins.mq(768px) {
    font-size: 36px;
  }
}

main {
  max-width: 800px;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

h1 {
    margin: 0.5rem 0;
    font-size: 1rem;
    @include mixins.mq(768px) {
      font-size: 2rem;
    }
}
h2 {
    margin: 0.5rem 0;
    font-size: 0.85rem;
    @include mixins.mq(768px) {
      font-size: 1.5rem;
    }
}

h1:focus, h2:focus {
    outline: none; 
    text-decoration: underline;

}

abbr {
    text-decoration: none;
}


